/*General settings - fonts, overall page background, etc*/
body {
	/*font-family:"Minion Pro","Times New Roman",Times,serif;*/
	font-family:normal Helvetica,Arial,sans-serif;
	font-size:90%;
	margin:0;
	padding: 0px 10px;
}
html {
	margin: 0;
	padding: 0;
}

/*Link styles*/
a:link {
	text-decoration: none;
	color:#069;
}
a:visited {
	text-decoration: none;
	color:#069;
}
a:hover {
	text-decoration: none;
	color: #666;
}

div.mainbody {
	height:auto;
	
}


/*Container for course items*/
div.item {
	clear: both;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

/*Container for editor*/
div.editor {
	border: 1px solid #000;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	clear: both;
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll center bottom;
	border: 1px solid #ccc;
}
div.block h3 {
	color: #666;
	font-size: 120%;
}
/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	/*border: 1px solid #000;*/
	border: 1px solid #CCC;
	border-top: 0px;
	background-color: #EEE;/*#eef;*/
}

/*Second level default block container*/
div.blockitems div.block {
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll center bottom;
	border: 1px solid #ccc;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	border: 1px solid #CCC;
	background-color: #F9F9F9;
}

/*toggles for instronly items inside item wrappers */
div.activewrapper span.instronly {
	visibility: visible;
}
div.inactivewrapper span.instronly {
	visibility: hidden;
}

.instrdates, .instronly {
	font-size: 80%;
}
div.block .instronly {
	
}

/*Icons*/
div.icon {
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}



/*Control panels*/
div.cp {
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll center bottom;
	border: 1px solid #ccc;
}
div.cpmid {
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll center bottom;
	border: 1px solid #ccc;
}




table thead th {
	font-weight:bold;
	cursor:pointer;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border-bottom: 2px solid #00f;
	background-color: #eee;
}
tr.even {
	background-color: #fff;	
}
tr.odd {
	background-color: #eee;
}
tr.bordered  td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
tr.highlight {
	background-color: #ddf;
}
tr.grid td {
	border: 1px solid #000;
}
tr.dbltop td {
	border-top: 3px double #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}

/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}


/*Containers for instructor leftbar, main content*/
#leftcontent {
		/*position: relative;
		float: left;
		left:-15px;*/
		position: absolute;
		left: 0px;
		top: 38px;
		/*border:1px solid #000;*/
		background: #fff;
		color:#000;
		margin-top: 0px;
		font-size: 90%;
		width: 200px;
		padding-top: 0px;
		padding-left: 0;
}

#leftcontent b {
	display: block;
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll 0 0;
	color: #666;
	height: 20px;
	padding: 8px 10px;
	font-size: 100%;
	margin: -10px -10px -5px -10px;
}
#leftcontent p {
	border: 1px solid #ccc;
	padding-top: 0px;
	margin-bottom: 5px;
	padding: 10px;
	line-height: 20px;
}

#centercontent {
		margin-left:210px;
		background:#ffffff;
		margin-right: 0px;
		padding-bottom: 5px;
		padding-right: 10px;
		border:1px solid #CCCCCC;
}
#headerlogo {
	right: 0px;
	top: 0px;
	width: 120px;
}
#headerlogo img {
	visibility: hidden;
}
span.padright {
	padding-right: 10px;
}
.headerwrapper {
	border: 0px;	

}
.headerwrapper h1 {
	margin: 0;
	padding: 30px 20px 0px;
	color:#AE131E;
	font-weight: normal;
}
div#headercontent, div#navlistcont {

}
div#headercontent {
	margin-top: 10px;
	height: 70px;
	background:#000 url(../xyz/chalkboard.jpg) repeat-x scroll center top;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}
div#headerbarlogo {
	margin-left: 20px;
	background: transparent url(../xyz/logo.png) no-repeat scroll left bottom;
	height: 70px;
}
.footerwrapper {
	height: 20px;
}

div.breadcrumb {
	border: 0;
	background: #069;
	border: 1px solid #069;
	font-family:normal Helvetica,Arial,sans-serif;
	font-size:90%;
	color: #fff;
	margin-bottom: 5px;
	padding: .3em;
	padding-left: 10px;
}
div#centercontent div.breadcrumb {
	margin-left: -10px;
}
div.breadcrumb a {
	color: #ddf;
}
	

.midwrapper {
	position: relative;
}

div.ddmenu {
	padding: 5px;
	background: #eeffee;
}
/*colors and borders for assessments*/
/*seq question css*/
div#headershowtest {
	border: 1px solid #CCC;
	margin: 10px 0;
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll left bottom;
	padding: 10px;
}
div#headershowtest h2 {
	font-size: 120%;
	margin: 0px;
	color: #666;
}
div.curquestion {

}
div.inactive {

}
hr.seq {

}
div.seqqinfocur {

}
div.seqqinfocur span.current{

}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion {
	background-color: #ffffcc; 
	border: 0px; 
}
/*all questions*/
div.question {
	background-color: #fff;; 
	border: 1px solid #ccc;
	width: auto;
	
}
div.inset {
	margin-right: 0px;
}
div.review { /*info bar*/
	margin-top: -6px;
	background-color: #069;
	border: 1px solid #ccc;
	color: #fff;
	width: auto;
}
div.intro {
	border: 1px solid #ccc;
	background-color: #fff;
}
div.navbar {
	position: relative;
	float: left;
	left: 0px;
	background:#fff;
	border: 1px solid #ccc;
	color:#000;
	padding: 10px;
}
div.navbar a {
	color: blue;
}
div.navbar h4 {
	display: block;
	margin: -10px -10px 10px -10px;
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll left bottom;
	padding: 10px;
	color: #666;
}
span.current {
	background-color: #ffa;
}
span.done {
	text-decoration: line-through;
}

ul#navlist {
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll 0 0;
	font-family:Helvetica,Arial,sans-serif;
	font-size:100%;
	padding: 0px;
	border:1px solid #CCCCCC;
	border-bottom: 0;
	width: 998px;
}
ul#navlist li a {
	color:#666666;
	padding: 15px 13px;
	line-height: 20px;
	background-color: transparent;
	font-weight: bold;
}

ul#navlist li a.activetab {
	-moz-border-radius-topright:15px;
	-moz-border-radius-topleft:15px;
	background-color: #069;
	color: #fff;
	margin-top: 3px;
	padding-top: 12px;
}
ul#navlist li a.activetab:hover {
	background-color: #069;
	color: #9cf;
}
ul#navlist li a:hover {
	color: #069;
	-moz-border-radius-topright:15px;
	-moz-border-radius-topleft:15px;
	margin-top: 3px;
	padding-top: 12px;
	background: #ccc;
}
div#navlistwrapper {

}
div#topadditem {
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll left center;
	padding: 4px 0;
	border: 1px solid #ccc;
}

div.additembox span {
	background-color: #fff;
}
div#topadditem span {
	background-color: transparent;
}
div#viewbuttoncont {
	margin-top: 5px;
	float: right;
	background: #fff;
}
div#viewbuttoncont a, a.abutton {
	color: #fff;
	display: inline-block;	
	padding: 4px 6px;
	margin-left: 2px;
}
div#viewbuttoncont a:hover {
	text-decoration: none;
}
div#viewbuttoncont a.buttonactive {
	background-color: #666;
	cursor: default;
}
div#viewbuttoncont a.buttoninactive, a.abutton {
	background-color: #999;
}
div#viewbuttoncont a.buttoninactive:hover {
	background-color: #333;
}
a.abutton {
	border: 0;
}
a.abutton:hover {
	background-color: #666;
}
div.title {
	margin-left: 50px;
}
div.itemsum {
	margin-left: 70px;
}
div#headerrightlinks {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	color: #666;
}
div#headerrightlinks a {
	color: #FF9933;
}
div#headerrightlinks a:hover {
	color: #DD6600;
}
.buttoncurveleft {
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-topleft:15px;
}
.buttoncurveright {
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topright:15px;
}
input[type="submit"], input[type="button"] {
	background-color: #999;
	border:medium none;
	cursor:pointer;
	margin: 1px;
	padding:2px 6px;
	color: #fff;
}
input[type="submit"]:hover, input[type="button"]:hover {
	background-color: #666;
}
table.cal th {
	background:#FFFFFF url(../xyz/grey_gradient.gif) repeat-x scroll left center;
}
table.cal td {
	cursor: pointer;
}
span.day {
	background-color: transparent;
}
a.newnote {
	color: #f00;
}
ul.fileattachlist {
	list-style-image: url(../img/icon_attach.png);
	margin: 5px 0;
}
#insert, #cancel {
	color: #000;
}
