/*General settings - fonts, overall page background, etc*/
body {
	font:normal 90%/160% "Minion Pro","Times New Roman",Times,serif;
	margin:0;
	padding:0;
	color:#333;
}
html {
	margin: 0;
	padding: 0;
}
h2, h3, h4 {
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	margin:10px 0;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size:100%;
	color:#069;
}
h4 {
	font-size:100%;
	margin:5px 0 0 0;
	color:#666;
}
h2 + p, h3 + p, h4 +p, h3 + div p, ul li:first-child  h3 {
	margin-top:0;
}
b {
	font-weight:bold;
}

/*Link styles*/
a {
	text-decoration:underline;
	color:#c60;
}
a:hover {
	text-decoration: none;
	color:#fff;
	background-color:#c60;
}
div.mainbody {
	height:auto;
}

/*Container for course items*/
div.item {
	clear: both;
	border-bottom: 1px solid #999;
}

/*Container for editor*/
div.editor {
	border: 1px solid #999;
}

/*Default block container*/
div.block, div.blockitems div.blockitems div.block {
	clear: both;
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
	border: 1px solid #999;
}
div.block h3 {
	color: #333;
	font-size: 120%;
}
/*Default block item container*/
div.blockitems, div.blockitems div.blockitems div.blockitems {
	border: 1px solid #999;
	border-top: 0px;
	background-color: #fff;
}

/*Second level default block container*/
div.blockitems div.block {
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
	border: 1px solid #999;
}

/*Second level default block item container */
div.blockitems div.blockitems {
	border: 1px solid #999;
	background-color: #F9F9F9;
}

/*toggles for instronly items inside item wrappers */
div.activewrapper span.instronly {
	visibility: visible;
}
div.inactivewrapper span.instronly {
	visibility: hidden;
}

.instrdates, .instronly {
	font-size: 85%;
}
div.block .instronly {
	
}

/*Icons*/
div.icon {
	color:#00d;	
	border: 1px solid #00f;
	font-weight: bolder;
}

/*Control panels*/
div.cp {
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
	border: 1px solid #999;
}
div.cpmid {
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
	border: 1px solid #999;
	font-family:Helvetica, Arial, sans-serif;
}
table thead th {
	font-weight:bold;
	cursor:pointer;
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
	border: 1px solid #999;
	font-family:Helvetica, Arial, sans-serif;
}

/*Tables */
table.gb thead th, table.gbl thead th, table.gbl thead th.locked {
	border: 1px solid #999;
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
}
tr.even {
	background-color: #fff;	
}
tr.odd {
	background-color: #eee;
}
tr.bordered td {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
tr.highlight {
	background-color: #EAF2F5;
}
tr.grid td {
	border: 1px solid #000;
}
tr.dbltop td {
	border-top: 3px double #000;
}
table.gbl td.locked, table.gbl th.locked {
	border-right: 2px solid #00f;
}

/*Category header colors*/
table.gb .catdf {
	background-color: #eef;
}
table.gb .cat0 {
	background-color: #ddf;
}
table.gb .cat1 {
	background-color: #dfd;
}
table.gb .cat2 {
	background-color: #fdd;
}
table.gb .cat3 {
	background-color: #dff;
}
table.gb .cat4 {
	background-color: #ffd;
}
table.gb .cat5 {
	background-color: #fdf;
}
table.gb .cat6 {
	background-color: #aaf;
}
table.gb .cat7 {
	background-color: #afa;
}
table.gb .cat8 {
	background-color: #faa;
}
table.gb .cat9 {
	background-color: #aff;
}
.cattothdr {
	font-variant: small-caps
}
table.cal thead th {
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll center top;
	font-family:Helvetica, Arial, sans-serif;
	border:1px solid #999;
}
table.cal td {
	cursor: pointer;
	border:1px solid #999;
}
table.cal td.today {
	background-color:#ccc;
}
span.day {
	background-color: transparent;
}
span.calitem {
	background-color:#069;
	color:#fff;
}

/*Fake look of links for Javascript onclicks*/
span.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}

/*Containers for instructor leftbar, main content*/
#leftcontent {
	position: absolute;
	left: 0px;
	top: 33px;
	background: #fff;
	color:#333;
	margin: 0px;
	font-size: 90%;
	width: 200px;
	padding: 0px;
}
#leftcontent div {
	border: 1px solid #999;
	margin-bottom: 10px;
	padding:0;
	line-height: 20px;
	font-family: Helvetica, Arial, sans-serif;
}
#leftcontent h3 {
	font-weight:bold;
	display: block;
	background:#fff url(../xyz/grey_gradient.gif) repeat-x scroll center top;
	color: #666;
	height: 20px;
	padding: 8px 10px;
	font-size: 100%;
	margin: 0;
	border-bottom:1px solid #999;
}
ul.courselist {
	font-family: Helvetica, Arial, sans-serif;
}
ul.courselist li a {
	color:#069;
	text-decoration:none;
}
ul.courselist li a:hover {
	color:#333;
	background-color:#fff;
}
#leftcontent ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
#leftcontent a {
	text-decoration:none;
	display:block;
	padding:5px 10px;
	border-bottom:1px solid #999;
	color:#069;
}
#leftcontent li:last-child a {
	border-bottom:none;
}
#leftcontent a:hover {
	color:#333;
	background-color:#fff;
}
#centercontent {
	margin-left:210px;
	background:#fff;
	margin-right: 0px;
	padding-bottom: 5px;
	padding-right: 10px;
	border:1px solid #999;
}
#fullcontent {
	border:1px solid #999;
	padding:10px;
}
#headerhome h2 {
	border:1px solid #999;
	background:#fff url(../xyz/grey_gradient.gif) repeat-x scroll center top;
	padding:5px;
}
#headerlogo {
	right: 0px;
	top: 0px;
	width: 120px;
}
#headerlogo img {
	visibility: hidden;
}
span.padright {
	padding-right: 10px;
}
.headerwrapper {
	border: 0px;	
	width: 1000px;
	margin: auto;
}
.headerwrapper h1 {
	margin: 0;
	padding: 30px 20px 0px;
	color:#AE131E;
	font-weight: normal;
}
div#headercontent, div#navlistcont {
	width: 1000px;
	margin: auto;
}
div#headercontent {
	margin-top: 10px;
	height: 70px;
	background:#000 url(../xyz/chalkboard.jpg) repeat-x scroll center top;
	margin-bottom: 15px;
	border: 1px solid #999;
}
div#headerbarlogo {
	margin-left: 20px;
	background: transparent url(../xyz/logo.png) no-repeat scroll left bottom;
	height: 70px;
}
.footerwrapper {
	height: 20px;
	margin:auto;
	width:1000px;
}
div.breadcrumb {
	border: 0;
	background: #069;
	border:none;
	font:normal 90% Helvetica,Arial,sans-serif;
	color: #fff;
	margin-bottom: 10px;
	padding: 5px 10px;
	width:982px;
}
div#centercontent div.breadcrumb {
	margin-left: -10px;
}
div.breadcrumb a {
	color: #fff;
}
div.breadcrumb a:hover {
	background-color: #fff;
	color:#069;
}
.midwrapper {
	position: relative;
	margin:auto;
	width:1000px;
}
div.ddmenu {
	padding: 5px;
	background: #efe;
}

/*colors and borders for assessments*/
/*seq question css*/
div#headershowtest {
	border: 1px solid #999;
	margin: 10px 0;
	background:#fff url(../xyz/grey_gradient.gif) repeat-x scroll left top;
	padding: 10px;
}
div#headershowtest h2 {
	font-size: 120%;
	margin: 0px;
	color: #666;
}
div.curquestion {

}
div.inactive {

}
hr.seq {

}
div.seqqinfocur {

}
div.seqqinfocur span.current{

}
div.seqqinfoavail {

}
div.seqqinfoinactive {

}
div.todoquestion {
	background-color: #ffc; 
	border: 0px; 
}
/*all questions*/
div.question {
	background-color: #fff;; 
	border: 1px solid #999;
	width: auto;
	
}
div.inset {
	margin-right: 0px;
}
div.review { /*info bar*/
	margin-top: -6px;
	background-color: #069;
	border: 1px solid #069;
	color: #fff;
	width: auto;
}
div.review a {
	color: #eef;
}
div.intro {
	border: 1px solid #999;
	background-color: #fff;
}
div.navbar {
	position: relative;
	float: left;
	left: 0px;
	background:#fff;
	border: 1px solid #999;
	color:#000;
	padding: 10px;
}
div.navbar a {
	color: #069;
}
div.navbar a:hover {
	background-color: #069;
}
div.navbar h4 {
	display: block;
	margin: -10px -10px 10px -10px;
	background:#fff url(../xyz/grey_gradient.gif) repeat-x scroll left top;
	padding: 10px;
	color: #666;
}
span.current {
	background-color: #ffa;
}
span.done {
	text-decoration: line-through;
}
ul#navlist {
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll 0 top;
	font:bold 100% Helvetica,Arial,sans-serif;
	padding: 0px;
	border:1px solid #999;
	border-bottom:none;
	width:1000px;
}
ul#navlist li {
	padding:10px 10px 0 10px;
	line-height:1;
	border-right:1px solid #999;
	display:block;
	float:left;
}
ul#navlist li a {
	color:#666;
	padding: 10px 10px 0 10px;
	background-color: transparent;
	font-weight: bold;
	height:30px;
	border:none;
}
ul#navlist li a.activetab {
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	background-color: #069;
	color: #fff;
}
ul#navlist li a.activetab:hover {
	background-color: #069;
	color:#fff;
}
ul#navlist li a:hover {
	color: #069;
	background: #ccc;
}
ul#navlist li:hover {
	background: #ccc;
}
div#navlistwrapper {
	margin:auto;
	width:1000px;
}
div#topadditem {
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll left top;
	border: 1px solid #999;
}
div.additembox {
	background-color:#ccc;
	margin-bottom:5px;
	padding:5px 0;
	font-family:Helvetica, Arial, sans-serif;
	border:1px solid #999;
}
div.additembox span {
	
}
div#topadditem span {
	background-color: transparent;
}
div.additembox a {
	text-decoration:none;
	display:inline-block;
	margin-right:10px;
	color:#069;
}
div.additembox a {
	background:none;
	color:#333;
}
a.abutton {
	border: 0;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
a.abutton, div#viewbuttoncont a, ul.buttonlist li a {
	font-family:Helvetica, Arial, sans-serif;
	color: #fff;
	display:inline;	
	padding:4px 10px;
	text-decoration:none;
}
a.abutton, div#viewbuttoncont a.buttoninactive, ul.buttonlist li a  {
	background-color: #999;
}
a.abutton:hover, div#viewbuttoncont a.buttoninactive:hover, ul.buttonlist li a:hover {
	background-color: #666;
}
div#viewbuttoncont {
	margin-top: 5px;
	float: right;
	background:none;
}
div#viewbuttoncont a {
	border-left:1px solid #fff;
	margin:0;
}
div#viewbuttoncont a.buttonactive{
	background-color: #333;
	cursor: default;
}
ul.buttonlist {
	list-style-type:none;
	padding:0;
	display:inline;
}
ul.buttonlist li {
	display:inline;
}
ul.buttonlist li input {
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
ul.buttonlist li:first-child input {
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-topleft:15px;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-top-left-radius:15px;
}
ul.buttonlist li:last-child input {
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-top-right-radius:15px;
}
ul.buttonlist li:first-child a {
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-topleft:15px;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-top-left-radius:15px;
}
ul.buttonlist li:last-child a {
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-top-right-radius:15px;
}
div.title {
	margin-left: 50px;
	font-family:Helvetica, Arial, sans-serif;
}
div.title, div.title a {
	color:#069;
}
div.title a:hover {
	background-color:#069;
	color:#fff;
}
div.pagetitle h2 {
	margin:10px 0;
}
div.itemsum {
	margin-left: 50px;
}
div#headerrightlinks {
	font-family:Helvetica, Arial, sans-serif;
	float: right;
	margin-top: 35px;
	margin-right: 20px;
}
div#headerrightlinks a {
	color: #F93;
	text-decoration:none;
	text-shadow:2px 2px 2px #000;
}
div#headerrightlinks a:hover {
	color: #fff;
	background-color:#f93;
	text-shadow:none;
}
.buttoncurveleft {
	-moz-border-radius-bottomleft:15px;
	-moz-border-radius-topleft:15px;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-top-left-radius:15px;
}
.buttoncurveright {
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-top-right-radius:15px;
}
input[type="submit"], input[type="button"] {
	background-color: #999;
	border:none;
	cursor:pointer;
	padding:4px 10px;
	color: #fff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
input[type="submit"]:hover, input[type="button"]:hover {
	background-color: #666;
}
a.newnote {
	color: #f00;
}
ul.fileattachlist {
	list-style-image: url(../img/icon_attach.png);
	margin: 5px 0;
}
#insert, #cancel {
	color: #000;
}
GB_caption {
	font-family:Helvetica, Arial, sans-serif;
}
legend {
	font-family:Helvetica, Arial, sans-serif;
}
table.forum td {
	border:1px solid #999;
}
div.quickview_options {
	background:#ccc url(../xyz/grey_gradient.gif) repeat-x scroll left top;
	padding:5px 10px;
	margin-top:10px;
	border:1px solid #999;
}

/*--------------------- FOOTER -----------------------*/
#footer {
	background:#333 url(images/chalkboard.jpg) repeat-x center top;
	width:1000px;
	clear:both;
	margin:0 auto 30px auto;
	border:1px solid #999;
	color:#fff;
}
#footer p {
	font: normal 75%/200% Helvetica, Arial, sans-serif;
	text-align:center;
}